<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.FO4Board.mapper.BoardMapper">
	<select id="selectBoardList" resultType="map">
		select board_idx, b.member_idx, title, content, viewcnt, regdate, update_regdate, name
			,(select count(*) from reply where b.board_idx=reply.board_idx) as re_count 
			from board b 
			inner join member m 
			on b.member_idx = m.member_idx
			order by board_idx desc;
	</select>
	<insert id="insertBoard">
		insert into board (member_idx, title, content )
			   values(#{member_idx}, #{title}, #{content})
	</insert>
	<select id="selectBoardDetail" resultType="map">
		select board_idx, b.member_idx, title, content, viewcnt, regdate, update_regdate, name 
			from board b 
			inner join member m 
			on b.member_idx = m.member_idx
			where board_idx=#{board_idx}
	</select>
	<delete id="deleteBoard">
		delete from board
			where board_idx = #{board_idx}
	</delete>
	<update id="updateBoard">
		UPDATE board
		SET title=#{title}, content=#{content}
		WHERE board_idx = #{board_idx}
	</update>
	<update id="updateViewcnt">
		update board
		set viewcnt = viewcnt + 1
		where board_idx = #{board_idx}
	</update>
	<select id="selectBoardList_ten" resultType="map">
		select board_idx, b.member_idx, title, content, viewcnt, regdate, update_regdate, name
			,(select count(*) from reply where b.board_idx=reply.board_idx) as re_count 
			from board b 
			inner join member m 
			on b.member_idx = m.member_idx
			order by board_idx desc limit 5;
	</select>
	
	<select id="selectHeart" resultType="map">
		select * 
			from heart 
			where board_idx = #{board_idx} and member_idx = #{member_idx}
	</select>
	<insert id="insertHeart">
		insert into heart
			values(null, #{board_idx}, #{member_idx})
	</insert>
	<delete id="cancelHeart">
		DELETE
			FROM heart
			WHERE board_idx = #{board_idx} and member_idx = #{member_idx}
	</delete>
	
	<update id="boardAddHeart">
		update board 
			set heartcnt = heartcnt + 1 
			where board_idx = #{board_idx};
	</update>
	<update id="boardCancelHeart">
		update board 
				set heartcnt = heartcnt - 1 
				where board_idx = #{board_idx};
	</update>
	<select id="selectPopular" resultType="map">
		select board_idx, b.member_idx, title, content, viewcnt, regdate, update_regdate, name
				from board b 
				inner join member m 
				on b.member_idx = m.member_idx
				order by heartcnt desc limit 5;
	</select> 
</mapper>