<?xml version="1.0" encoding="UTF-8"?>
 <!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.board.FO4Board.mapper.TodoMapper">
	<select id="selectTodo" resultType="com.board.FO4Board.vo.TodoVO">
		select * 
			from todo
			where 
				member_idx = #{member_idx} 
	</select>
	<insert id="insertTodo">
		insert 
			into todo (member_idx, title)
			values (#{member_idx}, #{title})
	</insert>
	<delete id="deleteTodo">
		delete 
			from todo 
			where todo_idx = #{todo_idx}
	</delete>
</mapper>